<div class="form-container" id="index-recipes">
  <div class="block-800 p-5 bg-indigo1 rounded-top text-center">
    <h2 class="text-white">Les recettes</h2>
  </div>
  <%=render "layouts/recipes"%>
</div>
  

