<div class="bg-container" id="index-recipes">

  <div class="block block-800 bg-indigo1 rounded-top text-center">
    <h2 class="text-white">Les recettes</h2>
  </div>
<<<<<<< HEAD

  <div class="block block-800 bg-white rounded-bottom"> 
    <div class="row">
      <div class="col-sm-12">
        <%= render @recipes %>
      </div>
    </div>
  </div>

=======
  <%=render "layouts/recipes"%>
>>>>>>> delivery-laurane
</div>
  

