<div class="bg-container" id="index-recipes">

  <div class="block block-800 bg-indigo1 p-4 p-md-5 rounded-top text-center">
    <h2 class="text-white">Les recettes</h2>
    <h4 class='text-white'>Il y a <%= @recipes.count %> recettes disponibles</h4>
  </div>

  <div class="block block-800 bg-white rounded-bottom"> 
    <div class="row">
      <%= render @recipes %>
    </div>
  </div>

</div>
  

