<h3 class="h4"><i class="far fa-image mr-1 mt-3"></i> Changer d'avatar ?</h3>
<p>
  <%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "Mettre à jour", class: 'btn btn-outline-primary ml-3' %>
  <% end %>
</p>
