<h2> Veuillez remplir le formulaire suivant afin de modifier les informations de votre profil. </h2> <br>
<%= render 'form'%>
<%= link_to "Modifier ses informations personnelles importantes (email et mot de passe)", edit_user_registration_path(@user.id)%>