<div class="bg-container" id="user-profile">
  <div class="block-1000 rounded mx-auto">

    <div class="row">
      <%= render 'users/user_sidebar' %>
      <%= render 'user_edit_names'%>
    </div>
  </div>
</div>

