<h2> Voici les informations de mon profil : </h2>
<p>Prenom : <%= @user.first_name %></br>
   Nom de famille :  <%= @user.last_name %></br>
   Email : <%= @user.email%></br> </p>

<%= link_to "Modifier ses informations de profil", edit_user_path(@user.id)%>


