<div class="bg-container" id="user-profile">
  <div class="block-1000 rounded mx-auto">

    <div class="row">

      <%= render 'user_sidebar' %>

      <div class="col-12 col-md-8">
        <div class="user-content bg-grey5 p-4 p-lg-5">
          <h1 class="mt-3 font-weight-normal mr-1"><i class="far fa-user-circle"></i> Mon profil</h1>
          <p class="h5 mb-5 text-grey1 font-weight-normal">Bienvenue sur votre espace personnel.<br>Retrouvez vos recettes favorites et tous les menus que vous avez composés.<p>
          <%= render "layouts/favorite_recipes"%>
          <%= render "layouts/history_menus" %>
        </div>
      </div>
    </div>

  </div>
</div>