<div class="mb-5">

  <h4><i class="fas fa-clipboard-list mr-1"></i></i> Voici la liste ! </h4>
  <div class="table-responsive">
    <table class="table">
    <thead>
    <% i = 1 %>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Nombre de calories</th>
      <th scope="col">Catégorie</th>
    </tr>
    </thead>
     <tbody>
    <%@ingredients.each do |ingredient|%>
    <tr>
     <td scope="row"><p><strong><%=ingredient.name%></strong><p></td>
    <td> <%=ingredient.calories%></td>
    <td><p> <%=ingredient.ingredient_category.name%><p></td>
    </th>
    <%end%>
    </tr>
    </tbody>
    </table>
    <div class="container-img-ing">
    <%= image_tag("scott-warman-525481-unsplash", class:"w-50") %>