<div class="table-responsive">
  <table class="table">
    <thead>
      <% i = 1 %>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Calories</th>
        <th scope="col">Unité</th>
        <th scope="col">Catégorie</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.sort_by{ |m| m.name.downcase }.each do |ingredient|%>
        <tr>
          <td scope="row"><strong><%=ingredient.name%></strong></td>
          <td><%=ingredient.calories%> kcal</td>
          <td><%=ingredient.unit%></td>
          <td><%=ingredient.ingredient_category.name%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
