<div class="bg-container" id="index-recipes">

  <div class="block block-1000 bg-white p-4 p-md-5 rounded-top text-center border-bottom">
    <h2 class="text-secondary" ><i class="fas fa-carrot mr-1"></i>Les ingrédients <i class="fas fa-cookie mr-1"></i></h2>
    <h4 class='text-grey1'>Il y a <%= @ingredients.count %> ingrédients recensés dans notre base de donnée !</h4>
  </div>

  <div class="block block-1000 bg-white rounded-bottom"> 
    <div class="row">
    
    <%=render 'ingredient'%>

    </div>
  </div>
</div>
  