<section class="bg-grey5">
  <div class="block block-1200">
    <header class="text-center mb-5"> 
      <h3 class="text-secondary"><i class="far fa-lightbulb mr-2"></i> Comment ça marche ? <br> <span class="h4 font-weight-normal">en quelques étapes</span></h3>
    </header>

    <div class="row">

      <div class="col-12 col-sm-6 col-md-4">
        <div class="card p-4 text-center rounded border-0">
          <div class="card-body">
            <h5 class="card-title text-indigo-dark5 h4"><i class="fas fa-user-circle"></i> Créer votre compte utilisateur</h5>
            <p class="card-text text-grey1 h6 font-weight-normal">Avoir un compte vous permet d'accéder à votre menu de batch-cooking</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card p-4 text-center rounded border-0">
          <div class="card-body">
            <h5 class="card-title h4"><i class="fas fa-mortar-pestle mr-2"></i> Composer votre menu</h5>
            <p class="card-text text-grey1 h6 font-weight-normal"> Ajoutez des recettes dans votre menu</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="card p-4 text-center rounded border-0">
          <div class="card-body">
            <h5 class="card-title h4"><i class="far fa-user-circle"></i> Générer votre liste de course</h5>
            <p class="card-text text-grey1 h6 font-weight-normal">Avoir un compte vous permettra de créer un menu composé de recettes pour réaliser votre batch-cooking.</p>
          </div>
        </div>
      </div>

      

    </div>

  </div>
<section>