<section class="bg-dark">
  <div class="block block-900">
    <header class="text-center text-white mb-4">
      <h3 class="text-primary">Bienvenue dans la communauté <br>des Batch Cookerz ! </h3>
    </header>
    <article>
      <p class="h4 text-white text-center font-weight-normal">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tous ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, vous pourrez cuisiner vos repas pour toute la semaine en quelques heures le week-end.</p>
    </article>
  </div>
</section>