<!-- JUMBOTRON -->
<section class="block d-flex flex-column justify-content-center align-items-center" id="home">
    <header class="text-center block block-1000">
      <h2 class="text-white mb-4 display-2 font-weight-normal">Préparez vos repas une seule fois, <br>et assemblez la semaine !</h2>
      <h3 class="h5 text-white font-weight-normal mb-3">Composez votre batch-cooking en indiquant des ingrédients</h3>
      <div id="search-bar">
        <%= form_tag({:controller => "recipes", :action => "index"}, :method => "get", class:'input-group input-group-lg d-flex justify-content-center') do %>
          <%= autocomplete_field_tag :ingredient, "", 
            autocomplete_ingredient_name_recipes_path, 
            'data-delimiter' => ', ', 
            :multiple => true, 
            :size => 75, 
            'data-noMatchesLabel' => 'Ingrédient non trouvé',
            'data-auto-focus' => true, 
            :append_to => "#proposed_ingredients",
           class: 'form-control w-100 rounded' %>
           <div id="proposed_ingredients">
           </div>
          <div class="text-center mt-4 w-100 block block-500 p-0">
          <div class="row search-buttons">
            <div class="col-12 col-sm-6 pr-md-2 pb-3 pb-sm-0">
              <%= submit_tag 'Recherche', name: nil, class:'w-100 btn btn-primary btn-lg rounded' %>
              
            </div>
            <div class="col-12 col-sm-6 pl-md-2">
              <%= link_to "Toutes les recettes", recipes_path(@recipes), class: 'd-block w-100 btn btn-indigo1 btn-lg' %>
            </div>
          </div>
        <% end %>
      </div>
    </header>
</section>