<section class="bg-indigo5">
  <div class="block block-1000">
    <header class="text-center mb-4">
      <h3>En manque d'inspiration ?</h3>
      <h3 class="h4 font-weight-normal">Nos recettes du moment</h2>
    </header>
    <footer class="text-center">
      <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-outline-primary btn-lg" %>
    </footer>
  </div>
</section>