<!-- JUMBOTRON -->
<div class="block d-flex align-items-center justify-content-center" id="home">
  <div class="text-center">
    <h2 class="text-white mb-4 display-2 font-weight-normal">Préparez le week-end, <br> assemblez la semaine !</h2>
    <h3 class="h6 text-white font-weight-normal"> Composez votre batch en indiquant vos 3 ingrédients préférés</h3>
    <div class="input-group input-group-lg mb-3 block-800 mt-3">
      <input type="text" class="form-control" placeholder="Des ingrédients cools" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2"><i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark p-6">
  <div class="block block-1000">
    <header class="text-center text-white mb-4">
      <h2>Bienvenue dans la communauté <br>des Batch Cookerz ! </h2>
    </header>
    <section>
      <h4 class="h4 text-white text-center">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tout ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, tu pourras cuisiner tes repas pour toute la semaine en quelques heures, lorsque ton emploi du temps te le permettra !</h4>
    </section>
  </div>
</div>

<div class="block container">

  <header class="text-center mb-5">
    <h2 class="text-dark">Voici une liste de nos recettes favorites</h2>
  </header>

  <div class="card-deck">

    <div class="card">
      <!-- <div class="bg-dark d-inline-block mb-4" style="height: 237px; width: 100%;"></div> -->
      <%= image_tag 'misovg', class:"w-100" %>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Miso végétarien</h4>
        <p class="card-text">Une super recette batch cooké super bon à</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card">
      <!-- <div class="bg-dark d-inline-block mb-4" style="height: 237px; width: 100%;"></div> -->
      <%= image_tag 'misovg', class:"w-100" %>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Miso végétarien</h4>
        <p class="card-text">Une super recette batch cooké super bon à</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card">
      <!-- <div class="bg-dark d-inline-block mb-4" style="height: 237px; width: 100%;"></div> -->
      <%= image_tag 'misovg', class:"w-100" %>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Miso végétarien</h4>
        <p class="card-text">Une super recette batch cooké super bon à</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

  </div>

  <div class="typography">
    <h1>Un titre H1</h1>
    <h2>Un titre H2</h2>
    <h3>Un titre H3</h3>
    <h4>Un titre H4</h4>
    <h5>Un titre H5</h5>
    <h6>Un titre H6</h6>
    <p class="display-1">Un titre display-1</p>
    <p class="display-2">Un titre display-2</p>
    <p class="display-3">Un titre display-3</p>
    <p class="display-4">Un titre display-4</p>
    <p>Un paragraphe super</p>
  </div>


  <footer class="text-center p-5">
    <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-primary rounded-pill btn-lg" %>
  </footer>

</div>