<!-- JUMBOTRON -->
<div class="block d-flex align-items-center justify-content-center" id="home">
  <div class="text-center">
    
    <h1 class="text-white mb-4 display-2 font-weight-normal">Préparez tous vos repas le week-end, <br> réassemblez la semaine !</h1>
    <h2 class="h5 text-white font-weight-normal"> Composez votre batch cooking en indiquant vos 3 ingrédients préférés</h3>

    <div class="input-group input-group-lg mb-3 block-800 mt-3">
      <input type="text" class="form-control" placeholder="Des ingrédients cools" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2">
          <i class="fas fa-search mr-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark">
  <div class="block block-1000">
    <header class="text-center text-white mb-4">
      <h3 class="text-primary">Bienvenue dans la communauté <br>des Batch Cookerz ! </h3>
    </header>
    <section>
      <p class="h5 text-white text-center font-weight-normal">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tout ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, tu pourras cuisiner tes repas pour toute la semaine en quelques heures, lorsque ton emploi du temps te le permettra !</p>
    </section>
  </div>
</div>

<div class="block container">

  <header class="text-center mb-5">
    <h3 class="h4 text-dark">Nos recettes du moment</h2>
  </header>

  <div class="card-deck">
  </div>

  <footer class="text-center p-5">
    <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-primary btn-lg" %>
  </footer>

</div>