<!-- JUMBOTRON -->
<div class="block d-flex align-items-center justify-content-center" id="home">
  <div class="text-center">
    <h2 class="text-white mb-4 display-2 font-weight-normal">Préparez le week-end, <br> assemblez la semaine !</h2>
    <h3 class="h6 text-white font-weight-normal"> Composez votre batch en indiquant vos 3 ingrédients préférés</h3>
    <div class="input-group input-group-lg mb-3 block-800 mt-3">
      <input type="text" class="form-control" placeholder="Des ingrédients cools" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2"><i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark">
  <div class="block block-1000">
    <header class="text-center text-white mb-4">
      <h2>Bienvenue dans la communauté <br>des Batch Cookerz ! </h2>
    </header>
    <section>
      <h4 class="h5 text-white text-center">Le batch cooking, comment ? pour qui ? pourquoi ? <br> Ici se retrouve tout ceux qui aiment cuisiner et manger de bons petits plats. Grace à notre site, tu pourras cuisiner tes repas pour toute la semaine en quelques heures, lorsque ton emploi du temps te le permettra !</h4>
    </section>
  </div>
</div>

<div class="block container">

  <header class="text-center mb-5">
    <h2 class="text-dark">Voici une liste de nos recettes favorites</h2>
  </header>

  <div class="card-deck">

  </div>

  <footer class="text-center p-5">
    <%= link_to "Voir toutes les recettes", recipes_path, class:"btn btn-primary rounded-pill btn-lg" %>
  </footer>

</div>