<div class="bg-container" id="concept">
  <div class="block block-800 p-4 p-md-5 bg-white text-justify rounded"> 
    <div class="mb-5">
      <h1 class="mb-5">Le batch cooking, comment ? pour qui ? pourquoi ?</h1>
      <p>Bienvenue sur notre réseau de Batch Cookerz ! Ici se retrouve tout ceux qui aiment cuisiner et manger de bons 
      petits plats! Grace à notre site, tu pourras cuisiner tes repas pour <b class="text-primary">toute la semaine en quelques heures</b> lorsque ton 
      emploi du temps te le permettra ! </p>
    </div>

    <div class="mb-5">
      <h3><i class="far fa-hand-point-right"></i> Qu’est ce que c’est ?</h3>
      <p>Cette pratique <b class="text-primary">anglo-saxonne</b> rencontre de plus en plus de succès dans l’hexagone et vous allez rapidement comprendre 
      pourquoi… 
      Le Batch Cooking vous permet de <b class="text-primary">choisir vous même</b> ce que vous mangez en fonction de votre régime alimentaire et aussi de 
      faire une grande économie d’argent ! 
      <b class="text-primary">Anticiper et préparer</b> votre menu de la semaine va vous faire gagner du temps que vous pourrez investir dans 
      vos loisirs ou avec vos proches. </p>
    </div>

    <div class="mb-5">
      <h3><i class="fas fa-cheese"></i> Comment ça marche ?</h3>
      <p>Le concept est de <b class="text-primary">préparer à l’avance</b> en grande quantité quelques ingrédients qui vont composer votre menu de 
      la semaine. Ceci va vous permettre de ne pas perdre de temps le soir lorsque vous avez fini votre journée et qu’il 
      faut encore faire à manger. Vous pouvez aussi ajouter <b class="text-primary">vos repas de midi</b> à emporter avec vous. Notre site met en avant
       la <b class="text-primary">diversité des ingrédients</b> ainsi que l’équilibre nutritif des repas avec des portions individuelles qui sont ensuite 
       multipliées par le nombre de personne pour lesquelles vous aller Batch Cooker ! </p>
    </div>

    <div class="mb-5">
      <h3><i class="far fa-bell"></i>  L'utilisation du site</h3>
      <p>Nous vous proposons de <b class="text-primary">sélectionner des ingrédients clefs</b> grâce
       à notre moteur de recherche pour <b class="text-primary">créer une combinaison de repas</b> à la semaine qui s’adapte selon le nombre de personnes 
       pour qui vous allez cuisiner !
      Notre site va ensuite <b class="text-primary">additionner les différentes quantités d’ingrédients</b> afin de vous proposer une liste de course que 
      vous pourrez directement retrouver sur votre smartphone. 
      Une fois que vous avez réalisé vos emplettes, il ne vous reste qu’a vous munir de vos tupperwares et <b class="text-primary">préparer 
      l’intégralité de vos repas en 2-3 heures.</b> 

      Cette technique s’adresse à tous ! Familles, étudiants, couple, personne seule…</p>
    </div>

    <div class="mb-5">
      <h3><i class="fas fa-users"></i> La communauté des Batch Cookerz</h3>
      <p>La cuisine est pour nous une activité des plus <b class="text-primary">fédératrice et conviviale</b> que l’on retrouve dans chacune des cultures 
      existantes ! Chaque utilisateurs à la possibilité de s’exprimer sur notre plateforme et ainsi devenir <b class="text-primary">un membre actif 
      de notre site</b> ! Vous pouvez proposer vos propre recette grâce à notre fonctionnalité « Proposer ma recette » que vous 
      pouvez retrouver sur votre page profil. Nous sommes aussi toute ouïe pour des remarques et suggestions via notre 
      formulaire dans la rubrique Contact. </p>
    </div>

    <div class="mb-5">
      <h3><i class="far fa-handshake"></i> Nos valeurs</h3>
      <p>Le Batch Cooking est en adéquation avec le changement progressif du <b class="text-primary">mode de consommation de notre société</b>. En effet 
      celui-ci permet de <b class="text-primary">limiter le gaspillage alimentaire</b> qui est encore trop présents dans de nombreux foyers. L’anticipation 
      des menus permet de <b class="text-primary">générer une liste de course</b> précise à laquelle vous tenir. 
      Nous mettons en avant les produits locaux que l’on <b class="text-primary">trouve facilement</b> sur les marchés et épiceries à côté de chez vous 
      pour vous permettre de faire <b class="text-primary">vivre les producteurs</b> de votre région.</p>
      <p class="text-primary text-center ">"<b>Adoptez une alimentation pratique, éthique & économique !</b></p>
    </div>
  </div>
</div>