<div class="form-container" id="concept">
  <div class="block-800 p-5 bg-white rounded"> 
    <div class="mb-5">
      <h1 class="">Le batch cooking, comment ? pour qui ? pourquoi ?</h1>
      <p>Bienvenue sur notre réseau de Batch Cookerz ! Ici se retrouve tout ceux qui aiment cuisiner et manger de bons petits plats! Grace à notre site, tu pourras cuisiner tes repas pour toute la semaine en quelques heures lorsque ton emploi du temps te le permettra ! </p>
    </div>

    <div class="mb-5">
      <h3>Qu’est ce que c’est ?</h3>
      <p>Cette pratique anglo-saxonne rencontre de plus en plus de succès dans l’hexagone et vous allez rapidement comprendre pourquoi… 
      Le Batch Cooking vous permet de choisir vous même ce que vous mangez en fonction de votre régime alimentaire et aussi de faire une grande économie d’argent ! 
      Le fait d’anticiper et de préparer votre menu de la semaine va vous faire gagner du temps que vous pourrez investir dans vos loisirs ou avec vos proches. </p>
    </div>

    <div class="mb-5">
      <h3>Comment ça marche ?</h3>
      <p>Le concept est de préparer à l’avance en grande quantité quelques ingrédients qui vont composer votre menu de la semaine. Ceci va vous permettre de ne pas perdre de temps le soir lorsque vous avez fini votre journée et qu’il faut encore faire à manger. Vous pouvez aussi ajouter vos repas de midi à emporter avec vous. Notre site met en avant la diversité des ingrédients ainsi que l’équilibre nutritif des repas avec des portions individuelles qui sont ensuite multipliées par le nombre de personne pour lesquelles vous aller Batch Cooker ! </p>
    </div>

    <div class="mb-5">
      <h3>Fonctionnement de Batch Cookerz</h3>
      <p>Notre site est basé sur cette technique de préparation. Nous vous proposons de sélectionner des ingrédients clefs grâce à notre moteur de recherche pour créer une combinaison de repas à la semaine qui s’adapte selon le nombre de personnes pour qui vous allez cuisiner !
      Notre site va ensuite additionner les différentes quantités d’ingrédients afin de vous proposer une liste de course que vous pourrez directement retrouver sur votre smartphone. 
      Une fois que vous avez réalisé vos emplettes, il ne vous reste qu’a vous munir de vos tupperwares et préparer l’intégralité de vos repas en 2-3 heures. 

      Cette technique s’adresse à tous ! Familles, étudiants, couple, personne seule…</p>
    </div>

    <div class="mb-5">
      <h3>La communauté des Batch Cookerz</h3>
      <p>La cuisine est pour nous une activité des plus fédératrice et conviviale que l’on retrouve dans chacune des cultures existantes ! Chaque utilisateurs à la possibilité de s’exprimer sur notre plateforme !et ainsi devenir un membre actif de notre site ! Vous pouvez proposer vos propre recette grâce à notre fonctionnalité « Proposer ma recette » que vous pouvez retrouver sur votre page profil. Nous sommes aussi toute ouïe pour des remarques et suggestions via notre formulaire dans la rubrique Contact. </p>
    </div>

    <div class="mb-5">
      <h3>Nos valeurs</h3>
      <p>Le Batch Cooking est en adéquation avec le changement progressif du mode de consommation de notre société. En effet celui-ci permet de limiter le gaspillage alimentaire qui est encore trop présents dans de nombreux foyers. L’anticipation des menus permet de générer une liste de course précise à laquelle vous tenir. 
      Adopter une alimentation diversifiée va vous apporter tout les nutriments nécessaires au bon fonctionnement de vos défenses immunitaires ! La santé commence dans l’assiette ! 
      Nous mettons en avant les produits locaux que l’on trouve facilement sur les marchés  et épiceries à côté de chez vous pour faciliter leur acquisition et vous permettre de faire vivre les producteurs de votre région.</p>
      <p>Adoptez une alimentation pratique, éthique & économique !</p>
    </div>
  </div>
</div>