<div class="form-container" id="concept">
  <div class="block-800 p-5 bg-white rounded"> 
    <div class="mb-5">
      <h1 class="">Bienvenue Batch Cookers et FUTURS Batch Cookers !</h1>
      <p> Si toi aussi tu veux manger des bons petits plats pendant toute la semaine en evitant de rester enfermé dans ta cuisine... </p>
      <p> ... découvre ce fantastique concept !! </p>
    </div>

    <div class="mb-5">
      <h3>C'est quoi?</h3>
      <p>Anticiper ses repas pour la semaine, une pratique anglo-saxonne qui rencontre de plus en plus de succès dans l’hexagone ! Et vous comprendrez rapidement pourquoi…
      <p> Mais aussi, une grande économie d’argent...  
      <p>... et surtout, un gain de temps énorme ! Et si vous repreniez les cours de salsa ? </p>
      <p>Cette technique s’adresse à tous ! Familles, étudiants, couples, personnes seules… Juste, essayez !!! </p>
    </div>

    <div class="mb-5">
      <h3>Comment ça marche ?</h3>
      <p>Préparez à l’avance en grande quantité les quelques ingrédients qui composeront votre menu de la semaine. 
      <p>Et oui, la question des menus du midi à emporter ne se posera plus...</p>
      <p>Grace à notre site, une diversité des ingrédients et équilibre nutritif respecté tout au long de la semaine pour vous et les personnes qui vous entourent. </p>
    </div>

    <div class="mb-5">
      <h3>Le fonctionnement de Batch Cookerz</h3>
      <p>Sélectionnez des ingrédients clefs grâce à notre moteur de recherche. </p>. 
      <p>Créez une combinaison de repas à la semaine et adaptée au nombre de personnes pour qui vous allez cuisiner ! </p>
      <p>Validez lorsque votre menu de recette vous satisfait et vous recevrez automatiquement une liste de course directement consultable depuis votre smartphone. </p>
      <p>Une fois vos emplettes réalisées, il ne vous reste plus qu’à vous munir de vos tupperwares et préparer l’intégralité de vos repas en 2-3 heures. </p>
    </div>

    <div class="mb-5">
      <h3>La communauté des Batch Cookerz</h3>
      <p>La cuisine est pour nous une activité des plus fédératrice et conviviale que l’on retrouve dans chacune des cultures existantes ! </p>
      <p>Chaque utilisateur a la possibilité de s’exprimer sur notre plateforme ! Et ainsi devenir un membre actif de notre site ! </p>
      <p>Vous pouvez proposer vos propre recette grâce à notre fonctionnalité « Proposer ma recette » que vous pouvez retrouver sur votre page profil. </p>
      <p>Nous sommes aussi toute ouïe pour des remarques et suggestions via notre formulaire dans la rubrique Contact. </p>
    </div>

    <div class="mb-5">
      <h3>Nos valeurs</h3>
      <p>Le Batch Cooking est en adéquation avec le changement progressif du mode de consommation de notre société en luttant contre le gaspillage alimentaire ! En effet, l’anticipation des menus permet de générer une liste de course précise à laquelle vous tenir. </p>
      <p>Adopter une alimentation diversifiée va vous apporter tout les nutriments nécessaires au bon fonctionnement de vos défenses immunitaires ! La santé commence dans l’assiette ! </p>
      <p>Nous mettons en avant les produits locaux que l’on trouve facilement sur les marchés et épiceries à côté de chez vous pour faciliter leur acquisition et vous permettre de faire vivre les producteurs de votre région.</p>
      <p>Adoptez une alimentation pratique, éthique & économique !</p>
    </div>
  </div>
</div>