<div class="bg-dark form-container" id="contact">
  <div class="block-800 p-5 bg-white rounded">
    <form id="contact" class="text-center" action="" method="post" >
      <br>
      <h1 class="p-3">Contactez-nous !</h1>
      <br>
      <p>Si vous avez des questions ou des suggestions à propos de nos recettes ou de notre site, n'hésitez pas à nous contacter via ce superbe formulaire ! <br> Nous vous feront parvenir une réponse le plus rapidement possible ! </p>
      <br>
      <fieldset>
        <input placeholder="Prénom Nom" class="form-control" type="text" tabindex="1" required autofocus>
      </fieldset>
      <br>
      <fieldset>
        <input placeholder="Adresse email" class="form-control" type="email" tabindex="2" required>
      </fieldset>
      <br>
      <fieldset>
        <textarea placeholder="Votre message..." class="form-control" tabindex="3" rows="8" required> </textarea>
      </fieldset>
      <br>
      <fieldset>
        <button name="submit" type="submit" class="btn btn-primary">Envoyer</button>
      </fieldset>
      <br>
    </form>
  </div>
</div>

