<div class="form-container" id="contact">
  <div class="block-800 p-5 bg-white rounded">
    <form id="contact" class="text-center" action="" method="post" >
      <header class="mb-5">
        <h1 class="p-3">Contactez-nous !</h1>
        <p>Si vous avez des questions ou des suggestions à propos de nos recettes ou de notre site, n'hésitez pas à nous contacter via ce superbe formulaire ! <br> Nous vous feront parvenir une réponse le plus rapidement possible ! </p>
      </header>
      <fieldset class="mb-4">
        <input placeholder="Prénom Nom" class="form-control" type="text" tabindex="1" required autofocus>
      </fieldset>

      <fieldset class="mb-4">
        <input placeholder="Adresse email" class="form-control" type="email" tabindex="2" required>
      </fieldset>

      <fieldset class="mb-4">
        <textarea placeholder="Votre message..." class="form-control" tabindex="3" rows="8" required> </textarea>
      </fieldset>

      <fieldset class="mb4">
        <button name="submit" type="submit" class="btn btn-primary btn-lg px-4">Envoyer</button>
      </fieldset>

    </form>
  </div>
</div>

