<div class="block-1000">
  <div class="container m-3 mb-5"> 
    <h1 class="m-5 text-center">Qui est derrière ce site ?</h1>

     <div class="container text-center-justify">
      <div class="row">
         <div class="col-sm-3">
          <div class="bg-primary rounded text-center mb-3 p-2">Raph
          </div>
            <img src="https://www.gannett-cdn.com/-mm-/7cfa0cdce1b602172c2e2961197d42679ab2b3cc/c=0-278-2520-1702/local/-/media/2017/01/28/USATODAY/USATODAY/636211875995222622-GettyImages-462548187.jpg?width=3200&height=1680&fit=crop" class="img-fluid mx-auto d-block mb-3" alt="...">
            <div class="text-justify">le mec mange des pizza a 11 heures du matin mais ça va on l'aime bien et puis il supporte assez bien Laurane malgré le fait qu'il reste encore 8 jours a coder notre superbe appli :D
            </div>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Antonin
           </div>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Mallau
           </div>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Laurane
           </div>
        </div>
      </div>
    </div>

  </div>
</div>
