<div class="bg-container" id="concept">
  <div class="block block-1000 p-5 bg-white rounded"> 
    <h1 class="m-5 text-center">Qui est derrière ce site ?</h1>

     <div class="container text-center-justify">
      <div class="row">
         <div class="col-sm-3">
           <%= image_tag("pictures-team/profil-picture-raph.png", width: '200px')%>
           <div class="bg-primary rounded text-center text-white mb-3 mt-3 p-2">Raph
          </div>
            <div class="text-center">Grand spécialiste des recettes simples mais efficaces. Plats en sauces, gratins, tartes, cakes salés... Rien ne l'arrête !
            </div>
          </div>
           <div class="col-sm-3">
            <%= image_tag("pictures-team/geometric-mallau.png", width: '200px')%>
            <div class="bg-primary rounded text-center text-white mb-3 mt-3 p-2">Mallau
           </div>
           <div class="text-center">Toujours à la recherche de nouvelles recettes végétariennes à tester. Professionnelle des pancakes et maniaque des tartines.
            </div>
          </div>
          <div class="col-sm-3">
           <%= image_tag("pictures-team/geometric-shynn.png", width: '200px')%>
           <div class="bg-primary rounded text-center text-white mb-3 mt-3 p-2">Antonin
           </div>
           <div class="text-center">Notre expert de la cuisine végétalienne et un grand amateur de soupe miso! Il adore les bo bun et les falafels.
            </div>
          </div>
          <div class="col-sm-3">
            <%= image_tag("pictures-team/geometric-lauranne.png", width: '200px')%>
          <div class="bg-primary rounded text-center text-white mb-3 mt-3 p-2">Laurane
           </div>
           <div class="text-center">La plus grande virtuose des buddha bowls et des lasagnes en tout genres! Amatrice de fruits de mer.
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
