<div class="block-1000">
  <div class="container m-3 mb-5"> 
    <h1 class="m-5 text-center">Qui est derrière ce site ?</h1>

     <div class="container text-center-justify">
      <div class="row">
         <div class="col-sm-3">
          <div class="bg-primary rounded text-center mb-3 p-2">Raph
          </div>
           <%= image_tag("pictures-team/profil-picture-raph.png", width: '200px')%>
            <div class="text-justify">le mec mange des pizza a 11 heures du matin mais ça va on l'aime bien et puis il supporte assez bien Laurane malgré le fait qu'il reste encore 8 jours a coder notre superbe appli :D
            </div>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Antonin
           </div>
           <%= image_tag("pictures-team/geometric-shynn.png", width: '200px')%>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Mallau
           </div>
            <%= image_tag("pictures-team/geometric-mallau.png", width: '200px')%>
          </div>
          <div class="col-sm-3">
           <div class="bg-primary rounded text-center mb-3 p-2">Laurane
           </div>
            <%= image_tag("pictures-team/geometric-lauranne.png", width: '200px')%>

        </div>
      </div>
    </div>

  </div>
</div>
