// PRIMARY COLORS

$orange1: #F9703E;
$orange2: #FF9466;
$orange3: #FFB089;
$orange4: #FFD0B5;
$orange5: #FFE8D9;


// SUPPORTING COLORS

$indigo-dark1: #19216C;
$indigo-dark2: #2D3A8C;
$indigo-dark3: #35469C;
$indigo-dark4: #4054A8;
$indigo-dark5: #4D63B6;

$indigo1: #647ACB;
$indigo2: #7B93DB;
$indigo3: #98AEEB;
$indigo4: #BED0F7;
$indigo5: #E0E8F9;


$red1: #D64545;
$red2: #E66A6A;
$red3: #F29B9B;
$red4: #FACDCD;
$red5: #FFEEEE;

$green1: #57AE5B;
$green2: #7CC480;
$green3: #A3D9A4;
$green4: #C1EAC5;
$green5: #E3F9E4;

$yellow1: #F7D070;
$yellow2: #F9DA8B;
$yellow3: #F8E3A3;
$yellow4: #FCEFC7;
$yellow5: #FFFAEC;


// NEUTRAL COLORS

$grey-dark1: #1F2933;
$grey-dark2: #313F4B;
$grey-dark3: #3F4C59;
$grey-dark4: #53606D;
$grey-dark5: #616E7C;

$grey1: #7B8794;
$grey2: #9AA5B1;
$grey3: #CBD2D9;
$grey4: #E3E7EA;
$grey5: #F5F7FA;

$white: #FFFFFF;