// LAYOUTS

.block {
  margin: 0 auto;
  padding: $spacer * 3 $spacer * 1.5;

  @include media-breakpoint-up(sm) {
    padding: $spacer * 3.5 $spacer * 2;
  }

  @include media-breakpoint-up(xl) {
    padding: $spacer * 5 $spacer * 3;
  }
}

.block-400 {
  max-width: 400px;
}

.block-500 {
  max-width: 500px;
}

.block-600 {
  max-width: 600px;
}

.block-700 {
  max-width: 700px;
}

.block-800 {
  max-width: 800px;
}

.block-900 {
  max-width: 900px;
}

.block-1000 {
  max-width: 1000px;
}

.bg-container {
  padding: 20px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  @include media-breakpoint-up(sm) {
    padding: 60px 20px;
  }

  @include media-breakpoint-up(xl) {
    padding: 120px 20px;
  }

  &#contact {
    background-image: image_url('syd-wachs-120739-unsplash-02.jpg');
  }
  &#concept {
    background-image: image_url('webvilla-293-unsplash.jpg');
  }
  &#sign_up {
    background-image: image_url('geo-darwin-39403-unsplash.jpg');
  }
  &.log_in {
    background-image: image_url('syd-wachs-120739-unsplash-02.jpg');
  }
  &#index-recipes {
    background-image: image_url('webvilla-293-unsplash.jpg');
  }
  &#show-recipes {
    background-image: image_url('webvilla-293-unsplash.jpg');
  }
  &#user-profile {
    background-image: image_url('webvilla-293-unsplash.jpg');
  }  
}

// RECIPE INDEX PAGE

#index-recipes {
  .col-sm-12 {
    hr:last-child {
      display: none;
    }
  }
    hr:last-child {
      display: none;
    }
}


// HEADER

header .navbar-nav {

  .nav-item:first-child {
    margin-top: $spacer * 1;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  } 
} 


// FOOTER 

#footer {
  text-align: center; 

  @include media-breakpoint-up(md) {
    text-align: left;
  }
    
  #brand {
    
    h4 {
      color: $primary;
    }

    p { 
      color: $white;
    }
  }

  #sitemap {
    
    p {
      color: $white;
    }

    ul li a {
      padding: 0 0 5px 0;
      color: $indigo4;
      &:hover {
        color: $indigo3;
    }
    }
  }

  .social-links {

    p {
      color: $white;
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }

    .social-icons {

      a {
        margin: .5rem 1rem;
        display: inline-block;
        color: $white;
        &:hover {
          color: $indigo5;
        }
        @include media-breakpoint-up(md) {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}