@import 'colors.scss';

// MAIN

body {
  background-color: $grey5;
}

.footer {
  background-color: $indigo-dark1;
}


// LAYOUTS

.block-400 {
  max-width: 400px;
  margin: 0 auto;
}

.block-600 {
  max-width:600px;
  margin: 0 auto;
}

.block-700 {
  max-width: 700px;
  margin: 0 auto;
}

.block-800 {
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  padding: 120px 60px;
}

.navbar {
  font-family: "Overpass", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
