// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// RECIPE INDEX PAGE

#index-recipes {
  .col-sm-12 {
    hr:last-child {
      display: none;
    }
  }
    hr:last-child {
      display: none;
    }
}


// RECIPE SHOW PAGE

.recipe-info {

  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
} 

.container-pic {
  max-height: 295px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    max-height: 540px;
  }
}

.container-pic-index {
  max-height: 300px;
  overflow: hidden;
}