// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-profile {

  .user-info {
    padding: $spacer * 2;
    text-align: center;
  }
}

.avatar-profile {
  img {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
  }
}