<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez oublié votre mot de passe ? Pas de panique ! Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n’êtes pas à l’origine de cette requête, il vous suffit d'ignorer cet e-mail.</p>