  <footer class="p-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <span class="font-weight-bold">Batch Cookerz</span> <br> Préparez le week-end, assemblez la semaine !
        </div>
        <div class="col-sm">
          <ul>
            <li class="nav-item">
              <%= link_to 'La Team', team_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Contact', contact_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
        <div class="col-sm">
          <div class="d-flex justify-content-end">
            <a href="#" class="h1"><i class="fab fa-facebook mx-3 text-white"></i></a>
            <a href="#" class="h1"><i class="fab fa-twitter mx-3 text-white"></i></a>
            <a href="#" class="h1"><i class="fab fa-pinterest mx-3 text-white"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>