  <footer class="footer p-5 text-white">
  <div class="container">  
    <div class="row">
      <div class="col-sm">
        <span class="font-weight-bold">Batch Cookerz</span> <br> Préparez le week-end, assemblez la semaine !
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-end">
          <a href="#" class="h1"><i class="fab fa-facebook mx-3 text-white"></i></a>
          <a href="#" class="h1"><i class="fab fa-twitter mx-3 text-white"></i></a>
          <a href="#" class="h1"><i class="fab fa-pinterest mx-3 text-white"></i></a>
        </div>
      </div>
    </div>
  </div>  
  </footer>