<div class="mb-5">

  <h4><i class="far fa-bookmark mr-1"></i> Ma liste de menus </h4>
  <div class="table-responsive">
    <table class="table">
      <% i = 1 %>
      <tbody>
        <%@menus.each do |menu|%>
          <th scope="row"><%= i %></th>
          <td class="font-weight-bold" colspan="2"> Mon menu n°<%= i %></td>
          <td><%= link_to "Voir le menu", user_menu_path(menu) %></td>      
          <td><%= link_to "Voir la liste de courses ", user_menu_shopping_list_path(current_user, menu)%>
          <% i += 1 %>
        <%end%>
      </tbody>
    </table>
  </div>
</div>